/* color preset */
:root{
    --primary: #000000;
    --secondary: #757575;
}

/* Homepage App Styles Start */

/* homepage placeholder template styles */
.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40rem;
}

.hero-line{
    padding-top: auto;
    padding-bottom: auto;
    text-align: center;
    font-weight: lighter;
    color: var(--primary);
}

.hero-sub-line{
    font-weight: lighter;
    color: var(--secondary);
}

.custom-btn{
    font-weight: lighter;
    border-radius: 20px;
}


/* Container to Hide Overflow */
.scrolling-carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
}

/* Carousel Track */
.scroll-carousel-track {
    display: flex;
    gap: 20px; /* Spacing between items */
    will-change: transform; /* Optimize for animation */
    position: relative;
}

/* Carousel Items */
.scroll-carousel-item {
    flex: 0 0 auto;
    width: 200px;
    text-align: start;
}

.scroll-carousel-item img {
    width: 100%;
    border-radius: 5px; 
    object-fit: cover;
}

.scroll-carousel-item p {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}

/* Homepage App Styles End */

/* Pricing App Styles Start*/

/* Pricing App Styles End */

/* Previous Projects Styles */

.custom-card-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.custom-card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly center;
    align-items: stretch;
    gap: 20px;
    width: 66.66%;
}

.mirrored{
    flex-direction: row-reverse;
}

.custom-card img{
    height:20rem;
    object-fit: cover;
}

.custom-card-body{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

@media only screen and (max-width: 650px) {

    .custom-card-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
    }

    .custom-card{
        flex-direction: column;
    }

    .custom-card img{
        height: auto;
        max-width: 100%;
    }

    .custom-card-body{
        max-width: 100%;
    }
}

/* Previous Projects Styles End */