<!-- templates/pricing/offers.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %}Offers - NetArch{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Offers & Pricing</h1>

    <!-- Offer List Display -->
    <div class="row">
        {% for offer in offers %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    {% if offer.image %}
                        <img src="{{ offer.image.url }}" class="card-img-top" alt="{{ offer.title }}">
                    {% else %}
                        <img src="{% static 'images/no_image_available.png' %}" class="card-img-top" alt="No Image Available">
                    {% endif %}
                    <div class="card-header">
                        {{ offer.price_range }}€
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ offer.title }}</h5>
                        <p class="card-text">{{ offer.description }}</p>
                        <div class="btn-group mt-auto" role="group">
                            <a href="{% url 'pricing:offer_detail' offer.slug %}" class="btn btn-secondary">Details</a>
                            <a href="{% url 'contact_form:contact' %}?offer_slug={{ offer.slug }}&requested_quote=1" class="btn btn-dark">Quote</a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No projects available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}