<!-- templates/previous_projects/examples.html -->

{% extends 'base.html' %}
{% load static %}

{% block title %}Projects - NetArch{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Previous Projects</h1>

    <!-- Projects List Display -->
    <div class="custom-card-wrapper">
        {% for project in projects %}
            {% if not forloop.counter|divisibleby:2 %}
                <div class="custom-card">
                    {% if project.image %}
                        <img src="{{ project.image.url }}" alt="{{ project.title }}">
                    {% else %}
                        <img src="{% static 'images/no_image_available.png' %}" alt="No Image Available">
                    {% endif %}
                    <div class="custom-card-body">
                        <h5 class="custom-card-header">{{ project.title }}</h5>
                        <p class="custom-card-text">{{ project.description }}</p>
                    </div>
                </div>
            {% endif %}
            {% if forloop.counter|divisibleby:2 %}
                <div class="custom-card mirrored">
                    {% if project.image %}
                        <img src="{{ project.image.url }}" alt="{{ project.title }}">
                    {% else %}
                        <img src="{% static 'images/no_image_available.png' %}" alt="No Image Available">
                    {% endif %}
                    <div class="custom-card-body">
                        <h5 class="custom-card-header">{{ project.title }}</h5>
                        <p class="custom-card-text">{{ project.description }}</p>
                    </div>
                </div>
            {% endif %}
        {% empty %}
            <p>No projects available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}